<div class = "points">
  <% if @user.points >= 10 %>
      <p>PENCIL GOD</p>
  <% elsif @user.points >=5 %>
      <p>Pencil Hero!</p>
   <% else %>
       <p>Pencil Scout</p>
   <% end %>
   <p>Points earned: <%= @user.points%></p>
</div>

<% unless @user.postings.where("found = 'true' ").empty? %>
<h2 class = "found">Someone found your pencil!</h2>
    <% @user.postings.where("found = 'true' ").each do |post| %>
         <div class = "post center">
	   <h2><%= post.title %></h2>
	   <br />
	   <%= post.description %>
	   <br /><br />
	   <b>Last known location</b>: <%= post.location%>
	   <br/ > <br />
	    <b>Reported missing on</b>: <%= post.date %><br /><br />
	    <font class = "username"><%= User.find(post.found_by).name
	    %></font> claims to have found it!
	    <br /><br />
	    <div class = "confirmation">
	      <!--Reject find-->
	      <%= form_for(post) do |f| %>
	      <%= f.hidden_field :found, :value => false %>
	      <%= f.submit "Not mah pencil" %>
	      <% end %>

	      <!--Accept find-->
	      <%= form_for(post, :html => {:method => 'delete'}) do |f| %>
	      <%= f.submit "That's mah pencil" %>
	      <% end %>
	    </div>
	    
       </div>
    <% end %>
<% end %>
<br />
<h1>My Postings</h1>
<% unless @user.postings.where("found = 'false'").empty? %>
    <% @user.postings.where("found = 'false'").each do |post| %>
	    <div class = "post center">
	   <h2><%= post.title %></h2>
	   <br />
	   <%= post.description %>
	   <br /><br />
	   <b>Last known location</b>: <%= post.location%>
	   <br/ > <br />
	    <b>Reported missing on</b>: <%= post.date %>
	    <% if signed_in? %>
	    <br /><br />
	    <div class = "confirmation">
  	        <%= form_for(post) do |f| %>
	            <%= f.hidden_field :found, :value => true %>
	            <%= f.submit "Found it!" %>
		    <% end %>
	    </div>
	<% end %>
       </div>
       <br />
    <% end %>
<% end %>
