  <table class = "postings">
    <tr>
      <td>
	<div class = "leaderboard">
	  Leaderboard:
	  <% User.order('points desc').limit(10).each do |user| %>
	  <ol>
	    <li><%= user.name %> <%= user.points %>pts</li>
	  </ol>
	  <% end %>
	</div>
	</td>
      <td>
	<div class = "all_posts">
	    <p>
	      <h2>Wanted:</h2>
	      <% Posting.where("found = 'false'").each do |post| %>
	      <div class = "post center">
		<h2><%= post.title %></h2>
		<br />
		<%= post.description %>
		<br /><br />
		<b>Last known location</b>: <%= post.location%>
		<br/ > <br />
		  <b>Reported missing on</b>: <%= post.date %>
		  <% if signed_in? %>
  		  <%= form_for(post) do |f| %>
	          <%= f.hidden_field :found, :value => true %>
		  <%= f.submit "Found it!" %>
		  <% end %>
		  <% end %>
	      </div>
	      <br />
	      <% end %>
	    </p>
	</div>
      </td>
    </tr>
