<h1>Report a lost pencil</h1>
<%= form_for(@posting) do |f| %>
    <%= f.label :title %>: <br />
    <%= f.text_field :title %><br />

    <%= f.label :description %><br />
    <%= f.text_area :description %><br />

    <!-- For now, locations are hard-coded here-->
    <%= f.label :location %><br />
    <% locations = [['GHC', 1], ['Doherty', 2], ['Wean', 3], ['Newell
    Simon', 4], ['UC', 5], ['Tepper',6], ['CFA', 7], ['Porter', 8],
    ['Baker', 9], ['Hamburg', 10], ['Mellon', 11], ['SEI', 12],
    ['Resnik', 13], ['West Wing', 14], ['Hamerschlag Hall', 15],
    ['Margaret Morrison', 16], ['Stever', 17], ['Donner', 18],
    ['Morewood', 19], ['Mudge', 20]] %>

    <%= f.select(:location, locations) %><br />

    <%= f.label :difficulty %><br />
    <% levels = [['Piece of cake', 1], ['Not too bad', 2], ['Too
    elusive', 3]] %>
    <%= f.select(:difficulty, levels) %><br />

    <%= f.submit "Post" %>

<% end %>
