<h1>Report a lost pencil</h1>
<%= form_for(@posting) do |f| %>
    <%= f.label :title %>: <br />
    <%= f.text_field :title %><br />

    <%= f.label :description %><br />
    <%= f.text_area :description %><br />

    <!-- For now, locations are hard-coded here-->
    <%= f.label :location %><br />
    <% locations = [['GHC', 'GHC'], ['Doherty', 'Doherty'], ['Wean', 'Wean'], ['Newell
    Simon', 'Newell Simon'], ['UC', 'UC'], ['Tepper','Tepper'], ['CFA', 'CFA'], ['Porter', 'Porter'],
    ['Baker', 'Baker'], ['Hamburg', 'Hamburg'], ['Mellon', 'Mellon'], ['SEI', 'SEI'],
    ['Resnik', 'Resnik'], ['West Wing', 'West Wing'], ['Hamerschlag Hall', 'Hamerschlag Hall'],
    ['Margaret Morrison', 'Margaret Morrison'], ['Stever', 'Stever'], ['Donner', 'Donner'],
    ['Morewood', 'Morewood'], ['Mudge', 'Mudge']] %>

    <%= f.select(:location, locations) %><br />

    <%= f.label :difficulty %><br />
    <% levels = [['Piece of cake', 'Piece of cake'], ['Not too bad', 'Not too bad'], ['Elusive', 'Elusive']] %>
    <%= f.select(:difficulty, levels) %><br />

    <%= f.submit "Post" %>

<% end %>
